!!!
%html

  %head
    - if @section.present?
      %title= "GermanySmash.de | #{@section.capitalize}"
    - else
      %title= "germanysmash.de"
    = display_meta_tags(default_meta_tags)
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    = favicon_link_tag 'logo.png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = render '/layouts/google_analytics'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render '/layouts/flashes'
    = render '/partials/login'
    %main
      .header.navbar.navbar-expand-lg.navbar-sstm
        = render '/layouts/navigation'
      .banner
        .banner__overlay
        = image_tag 'banner.jpg', class: 'banner__image'
      .container
        .row
          - if request.original_fullpath.start_with?('/calendar')
            .col-12
              .content
                = yield
          - else
            .d-none.d-lg-block.col-lg-3
              .sidebar
                -# = render '/partials/players'
                %h2.sidebar__title
                  = t('partials.streamers.title')
                = render '/partials/streamers'
            .col-12.col-lg-6
              .content
                = yield
              - if request.path == '/' || request.path == '/welcome'
                .content{style: 'margin-top: 10px;'}
                  %h3 Top donators
                  .row
                    - if @donations.any?
                      - @donations.each_with_index do |donation, i|
                        .col-6.col-lg-4
                          = render donation, index: i, truncate: true
                    - else
                      .col
                        %p= t('welcome.no_donations_yet')
                  - if @donations.any? && Donation.count > 6
                    .row.text-center
                      .col
                        = link_to t('welcome.all_donations'), donations_path, class:'btn btn-sstm'
            .d-none.d-lg-block.col-lg-3
              .sidebar
                = render '/partials/events', next_tournaments: @nextTournaments
    .footer
      .container
        .row.footer-nav
          .col-5
            .row
              = link_to "https://smashcontest.de/", target: '_blank' do
                = image_tag('smash_contest.png', class: 'smash_contest_logo', width: '128.25px', height: '75px')
              -# blup: not needed atm.
              -# .col
              -#   %p.small
              -#     = link_to t('navigation.footer.administrators_short'), :administrators
              .col.d-none.d-sm-block
                %p.small
                  = link_to t('navigation.footer.contact'), informations_path(anchor: 'contact')

          .col-2
            = button_tag '', title: 'Go to top', style: 'background-color: #222; border: none;', class: 'scroll-top' do
              = image_tag('logo.png', class: 'germanysmash_logo', height: '50px', width: '50px')
          .col-5
            .row
              .col
                %p.small
                  = link_to t('navigation.footer.imprint'), :imprint
              .col
                %p.small
                  = link_to t('navigation.footer.privacy_policy'), :privacy_policy
              .col
                %p#donate-btn
                  = link_to("https://ko-fi.com/swisssmash", target: '_blank', class: "btn btn-sstm") do
                    = image_tag("https://storage.ko-fi.com/cdn/cup-border.png", style: 'width: 39px;')
                    %span{:style => "margin-left: 8px; color:#fff; font-weight: 700;"}= t('please_donate')

  = render 'cookies_eu/consent_banner'

:javascript
  I18n.defaultLocale = "#{I18n.default_locale}";
  I18n.locale = "#{I18n.locale}";
